<%= form_for(@club) do |f| %>
  <% if @club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% @club.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :acronym %><br />
    <%= f.text_field :acronym %>
  </div>

  <%= render "addUsers" %>

  <% if !@club.roles.empty? %>
  <table class="table">
  <tr>
      <th>Mail</th>
      <th>Admin</th>
      <th>Coach</th>
      <th>Manager</th>
      <th>Doctor</th>
      <th></th>
   </tr>
    <div class="field">
    <%= f.fields_for :roles do |builder| %>
      <tr class="fields">
        <td><%= builder.label :blal %></td>
        <td><%= builder.check_box :is_admin %></td>
        <td><%= builder.check_box :is_coach %></td>
        <td><%= builder.check_box :is_manager %></td>
        <td><%= builder.check_box :is_doctor %></td>
        <%= builder.hidden_field :_destroy %>
        <td><%= link_to_remove_fields "remove", builder %></td>
      </tr>
    <% end %>
    </div>
  </table>
  <%end%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
