<div class="club-details row">
  <div class="span12">
    <div class="row">
    <div class="span2">
      <img src="http://placehold.it/140x140" class="img-circle">
    </div>
    <div class="span8">
      <h1><%= @club.name %></h1>
      <h3><%= @club.acronym %></h3>
      <%= link_to 'Edit', edit_club_path(@club), :class =>'editlink' %>  
    </div>
    <div class="span2">
      <%= link_to 'Teams', club_teams_path(@club), :class =>'menulink' %>
    </div>
    </div>
  </div>
</div>
<!-- 
<div class="menu row">
  <h3>Calendário</h3>
  <%= link_to 'Practices', club_teams_path(@club), :class =>'menulink' %>
  <%= link_to 'Games', club_teams_path(@club), :class =>'menulink' %>

  <h3>Management</h3>
  <%= link_to 'Teams', club_teams_path(@club), :class =>'menulink' %> 
  <%= link_to 'Tactics', club_teams_path(@club), :class =>'menulink' %>
  <%= link_to 'Practices', club_teams_path(@club), :class =>'menulink' %>
  </br>
  <%= link_to 'Users', club_teams_path(@club), :class =>'menulink btn-info' %>
  </br>
  <%= link_to 'Notepad', club_teams_path(@club), :class =>'menulink btn-warning' %>
</div>
</br>
 -->

<table class="table">
  <thead>
    <tr>
        <th>Mail</th>
        <th>Admin</th>
        <th>Coach</th>
        <th>Manager</th>
        <th>Doctor</th>
     </tr>
 </thead>

<% @club.users.each do |user| %>

<tr>
  <% isAdmin = @club.admin? user %>
  <% isCoach = @club.coach? user %>
  <% isManager = @club.manager? user %>
  <% isDoctor = @club.doctor? user %>

  <td><%= user.email %></td>
  <td><%= check_box_tag "admin", true , isAdmin, {:disabled => true} %></td>
  <td><%= check_box_tag "coach", true , isCoach, {:disabled => true} %></td>
  <td><%= check_box_tag "manager", true ,isManager, {:disabled => true} %></td>
  <td><%= check_box_tag "doctor", true ,isDoctor, {:disabled => true} %></td>
</tr>
<% end %>
</table>

<%= link_to 'Back', clubs_path %>
