<p>
  <b>Name:</b>
  <%= @club.name %>
</p>

<p>
  <b>Acronym:</b>
  <%= @club.acronym %>
</p>

<h3>Users working for this club:</h3>

<table class="table">
<tr>
    <th>Mail</th>
    <th>Admin</th>
    <th>Coach</th>
    <th>Manager</th>
    <th>Doctor</th>
 </tr>

<% @club.users.each do |user| %>

<tr>
  <% isAdmin = @club.admin? user %>
  <% isCoach = @club.coach? user %>
  <% isManager = @club.manager? user %>
  <% isDoctor = @club.doctor? user %>

  <td><%= user.email %></td>
  <td><%= check_box_tag "admin", true , isAdmin, {:disabled => true} %></td>
  <td><%= check_box_tag "coach", true , isCoach, {:disabled => true} %></td>
  <td><%= check_box_tag "manager", true ,isManager, {:disabled => true} %></td>
  <td><%= check_box_tag "doctor", true ,isDoctor, {:disabled => true} %></td>
</tr>
<% end %>
</table>


<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
