<h2>Add a player:</h2>
<%= form_for([@team.club, @team, @team.players.build]) do |f| %>

<div class="row-fluid">
<div class="span3">
    <%= f.label :number %>
    <%= f.text_field :number %>

    <%= f.label :name %>
    <%= f.text_field :name %>
</div>
<div class="span3">
  <div class="field">
    <%= f.label :position %>
    <%= f.text_field :position %>
 </div>
  
    <%= f.label :date_of_birth %>
    <%= f.text_field :date_of_birth%>
</div>
<div class="span3">
    <%= f.label :nationality %>
    <%= f.text_field :nationality %>
 
  
    <%= f.label :height %>
    <%= f.text_field :height %>
</div>
<div class="span3">
    <%= f.label :weight %>
    <%= f.text_field :weight %>
</div>
</div>
<div class="actions pull-right">
    <%= f.submit %>
</div> 
<% end %>