<h2>Players</h2>
<% if @team.players.count == 0 %>
	<em>The team doesn't have any players.</em>
<% else %>

 <table class="table table-hover">
    <thead>
      <tr>
      	<th>Number</th>
        <th>Name</th>
        <th>Position</th>
        <th>Date-of-Birth</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Nationality</th>
        <th></th>
      </tr>
    </thead>

	<% @team.players.each do |player| %>
		<tr>
			<td><%= player.number %></td>
			<td><%= player.name %></td>
			<td><%= player.position %></td>
			<td><%= player.date_of_birth %></td>
			<td><%= player.height %></td>
			<td><%= player.weight %></td>
			<td><%= player.nationality %></td>
			<td><%= link_to 'Edit', edit_club_team_player_path(@club, @team, player), :class => 'editlink'%></td>
			<td><%= link_to 'Destroy', club_team_player_path(@club, @team, player), confirm: 'Are you sure?', method: :delete, :class => 'destroylink' %></td>
	    </tr>
	<% end %>
</table>
<% end %>