<h1>Listing teams</h1>

<table class="table">
  <tr>
    <th>Season</th>
    <th>Club</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.season %></td>
    <td><%= team.club.name %></td>
    <td><%= link_to team.name, club_team_path(@club, team) %></td>
    <td><%= link_to 'Edit', edit_club_team_path(@club, team) %></td>
    <td><%= link_to 'Destroy', club_team_path(@club, team), confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to 'Games', club_team_games_path(@club, team) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team', new_club_team_path %>
