<%= render :partial => "shared/header" %>
<div class="top-right-menu">
  <td><%= link_to 'Games', club_team_games_path(@club, @team), :class => "btn" %></td>
</div>

<div class="row-fluid">
  <div class="span12">

	<%= render "indexPlayers" %>

  <a class="btn btn-success" id="addPlayerButton">
    <i class="icon-plus icon-white pull-right"></i>Add Player
  </a>
  <%= render "addPlayer" %>
	</div>
</div>

<br>
<%= link_to 'Back', club_teams_path(@club) %>