<div class="club-details row">
  <div class="span12">
    <div class="span2">
      <img src="http://placehold.it/140x140" class="img-circle">
    </div>
    <div class="span8">
      <h1><%= @club.name %> - <%= @team.season %></h1>
      <h3><%= @team.name %></h3>
      <%= link_to 'Edit', edit_club_team_path(@club, @team), :class =>'editlink' %>
    </div>
    <div class="span2">
    	<td><%= link_to 'Games', club_team_games_path(@club, @team), :class => "btn" %></td>
    </div>
  </div>
</div>

<p id="notice"><%= notice %></p>
<div class="row">
  <div class="span12">
	<%= render "indexPlayers" %>

	<%= render "addPlayer" %>
	</div>
</div>


<%= link_to 'Back', club_teams_path(@club) %>