<%= render :partial => "shared/header" %>
<div class="top-right-menu">
	<div class="btn-group">
	  <%= link_to 'Games', club_team_games_path(@club, @team), :class => "btn" %>
	  <%= link_to 'Practices', club_team_practices_path(@club, @team), :class => "btn" %>
	  <%= link_to 'Injuries', club_team_injuries_path(@club, @team), :class => "btn" %>
	</div>
</div>

<!--
<div class="row-fluid">
  <div class="team-stats span12">
  		<div class="team-number"><h1><%=@team.games.count%></h1>Games</div>
  		<div class="team-number"><h1>42</h1>Goals Scored</div>
  		<div class="team-number"><h1>52</h1>Goals Suffered</div>
  		<div class="team-number"><h1>62</h1>Victories</div>
  		<div class="team-number"><h1>72</h1>Draws</div>
  		<div class="team-number"><h1>32</h1>Defeats</div>
  </div>
</div>
-->
<div class="row-fluid">
  <div class="span12">

	<%= render "indexPlayers" %>

  <a class="btn btn-success" id="addPlayerButton">
    <i class="icon-plus icon-white pull-right"></i>Add Player
  </a>
  <%= render "addPlayer" %>
	</div>
</div>

<br>
<%= link_to 'Back', club_teams_path(@club) %>