<p id="notice"><%= notice %></p>

<p>
  <b>Season:</b>
  <%= @team.season %>
</p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Club:</b>
  <%= @club.name %>
</p>

<%= render "indexPlayers" %>

<%= render "addPlayer" %>

<%= link_to 'Edit', edit_club_team_path(@club, @team) %> |
<%= link_to 'Back', club_teams_path(@club) %>