<h1>Game Plan</h1>

<%= form_for([@team.club, @team, @game]) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if @team.players.count == 0 %>
  <em>The team doesn't have any players.</em>
  <% else %>

   <table class="table table-hover">
      <thead>
        <tr>
          <th>Number</th>
          <th>Name</th>
          <th>Convoke?</th>
          <th>Starter?</th>
        </tr>
      </thead>

    <% @team.players.each do |player| %>
      <tr>
        <td><%= player.number %></td>
        <td><%= player.name %></td>
        <td><%= check_box_tag "player_ids[]", player.id, false, :id => "player_#{player.id}" %></td>
        <td><%= check_box_tag "player_ids_starters[]", player.id, false, :id => "player_#{player.id}_starter" %></td>
        </tr>
    <% end %>
  </table>
<% end %>

 <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>