<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="note">
  <div class="note-title-field">
    <span><i>title: </i></span>
    <%= f.text_field :title %>
  </div>
  <div class="note-box">
    <%= f.text_area :text %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Save", :class =>'btn btn-success pull-right' %>
  </div>
<% end %>
<br>
<br>
</div>