<h1>Listing equipas</h1>

<table>
  <tr>
    <th>Epoca</th>
    <th>Nome</th>
    <th>Clube</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @equipas.each do |equipa| %>
  <tr>
    <% clubeEquipa = Clube.find(equipa.clube_id).nome %>

    <td><%= equipa.epoca %></td>
    <td><%= equipa.nome %></td>
    <td><%= clubeEquipa %></td>
    <td><%= link_to 'Show', equipa %></td>
    <td><%= link_to 'Edit', edit_equipa_path(equipa) %></td>
    <td><%= link_to 'Destroy', equipa, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Equipa', new_equipa_path %>
