<%= form_for(@club) do |f| %>
  <% if @club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% @club.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :acronym %><br />
    <%= f.text_field :acronym %>
  </div>

  <div class="field">
    <%= hidden_field_tag "club[user_ids][]", nil %>
    <% User.all.each do |user| %>
      <%= check_box_tag "club[user_ids][]", user.id, @club.user_ids.include?(user.id), id: dom_id(user) %>
      <%= label_tag dom_id(user), user.email %> <br>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
