<div class="results container-fluid">
  <div class="row-fluid">
    <div class="span4" style="text-align:right">
      <%if @game.at_home %>
        <h3><%= @team.club.name %></h3>
        <h4><%= @team.name %></h4>
      <%else %>
        <h3><%= @game.opponent %></h3>
      <%end%>
    </div>
    <div class="span4" id="numbers" style="text-align:center">
      <p><%= @game.date.strftime('%d/%m/%Y') %></p>
      <p><%= @game.hour.strftime('%H:%M') %></p>
      <h2><i>VS</i></h2>
    </div>
    <div class="span4" style="text-align:left">
      <%if @game.at_home %>
        <h3><%= @game.opponent %></h3>
      <%else %>
        <h3><%= @team.club.name %></h3>
        <h4><%= @team.name %></h4>
      <%end%>
      <br>
      <br>
  </div>
</div>
</div>