<h1>Upcoming games</h1>

<table class="table">
    <thead>
  <tr>
    <th>Opponent</th>
    <th>Date</th>
    <th>Hour</th>
    <th>At home</th>
    <th>Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

<% @games_not_played.each do |game| %>
  <tr>
    <td><%= game.opponent %></td>
    <td><%= game.date %></td>
    <td><%= game.hour %></td>
    <td><%= check_box_tag "at_home", true , game.at_home, {:disabled => true} %></td> 
    <td><%= game.team.name %></td>
    <td><%= link_to 'Edit', edit_club_team_game_path(@team.club, @team, game), :class => 'editlink'%></td>
    <td><%= link_to 'Destroy', club_team_game_path(@team.club, @team, game), confirm: 'Are you sure?', method: :delete, :class => 'destroylink' %></td>
    <td><%= link_to 'Play', new_club_team_game_event_path(@team.club, @team, game), :class => 'btn' %></td>
  </tr>
<% end %>
</table>
<br />

<h1>Previous games</h1>
<table class="table">
    <thead>
  <tr>
    <th>Opponent</th>
    <th>Date</th>
    <th>Hour</th>
    <th>At home</th>
    <th></th>
    <th>Result</th>
    <th>Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

<% @games_played.each do |game| %>
  <tr>
    <td><%= game.opponent %></td>
    <td><%= game.date %></td>
    <td><%= game.hour %></td>
    <td><%= check_box_tag "at_home", true , game.at_home, {:disabled => true} %></td>
    <td><% if game.goals_scored > game.goals_suffered %>
        <%= "W" %>
        <% elsif game.goals_scored < game.goals_suffered %>
        <%= "L" %>
        <% else game.goals_scored == game.goals_suffered %>
        <%= "D" %>
        <% end %></td>
    <td><%= game.goals_scored.to_s + " - " + game.goals_suffered.to_s %></td>
    <td><%= game.team.name %></td>
    <td><%= link_to 'Show', club_team_game_path(@team.club, @team, game) %></td>
    <td><%= link_to 'Edit', edit_club_team_game_path(@team.club, @team, game), :class => 'editlink' %></td>
    <td><%= link_to 'Destroy', club_team_game_path(@team.club, @team, game), confirm: 'Are you sure?', method: :delete, :class => 'destroylink' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_club_team_game_path(@team.club, @team) %>
<%= link_to 'Back', club_teams_path(@team.club) %>
