<h1>Listing games</h1>

<table class="table">
  <tr>
    <th>Opponent</th>
    <th>Date</th>
    <th>Hour</th>
    <th>At home</th>
    <th>Played</th>
    <th>Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.opponent %></td>
    <td><%= game.date %></td>
    <td><%= game.hour %></td>
    <td><%= game.at_home %></td>
    <td><%= game.played %></td>
    <td><%= game.team.name %></td>
    <td><%= link_to 'Show', club_team_game_path(@team.club, @team, game) %></td>
    <td><%= link_to 'Edit', edit_club_team_game_path(@team.club, @team, game) %></td>
    <td><%= link_to 'Destroy', club_team_game_path(@team.club, @team, game), confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to 'Play', play_club_team_game_path(@team.club, @team, game) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_club_team_game_path(@team.club, @team) %>
