<div class="results container-fluid">
  <div class="row-fluid">
    <div class="span4" style="text-align:right">
      <%if @game.at_home %>
        <h3><%= @team.club.name %></h3>
        <h4><%= @team.name %></h4>
      <%else %>
        <h3><%= @game.opponent %></h3>
      <%end%>
    </div>
    <div class="span4" id="numbers" style="text-align:center">
      <p><%= @game.date.strftime('%d/%m/%Y') %></p>
      <p><%= @game.hour.strftime('%H:%M') %></p>
      <%if @game.at_home %>
        <h1><span id="scoredCount"><%= @game.goals_scored.to_s %> </span> - <span id="sufferedCount"><%= @game.goals_suffered.to_s %> </span></h1>
      <%else%>
        <h1><span id="sufferedCount"><%= @game.goals_suffered.to_s %> </span> - <span id="scoredCount"><%= @game.goals_scored.to_s %> </span></h1>
      <%end%>
    </div>
    <div class="span4" style="text-align:left">
      <%if @game.at_home %>
        <h3><%= @game.opponent %></h3>
      <%else %>
        <h3><%= @team.club.name %></h3>
        <h4><%= @team.name %></h4>
      <%end%>
      <br>
      <br>
  </div>
</div>
</div>

<div class="general">
<%= link_to 'Edit', edit_club_team_game_path(@team.club, @team, @game), :class => 'editlink pull-right'%> 
</br>
<h3>Titulares</h3>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Position</th>
        <th>Date-of-Birth</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Nationality</th>
      </tr>
    </thead>

  <% p = @players.where( "playersgames.starter" => 'true') %>
  <% p.each do |player| %>
    <tr>
      <td><%= player.number %></td>
      <td><%= player.name %></td>
      <td><%= player.position %></td>
      <td><%= player.date_of_birth %></td>
      <td><%= player.height %></td>
      <td><%= player.weight %></td>
      <td><%= player.nationality %></td>
    <% end %>
</table>

<h3>Suplentes Utilizados</h3>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Position</th>
        <th>Date-of-Birth</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Nationality</th>
      </tr>
    </thead>

  <% p = @players.where( "playersgames.starter" => 'false') %>
  <% p.each do |player| %>
  <%if !player.starter? @game %>
    <tr>
      <td><%= player.number %></td>
      <td><%= player.name %></td>
      <td><%= player.position %></td>
      <td><%= player.date_of_birth %></td>
      <td><%= player.height %></td>
      <td><%= player.weight %></td>
      <td><%= player.nationality %></td>
    <% end %>
  <% end %>
</table>
<%= link_to 'Back', club_team_games_path(@team.club, @team) %>
</div>