<%= render 'resume' %>
<div class="general">
<%= link_to 'Edit', edit_club_team_game_path(@team.club, @team, @game), :class => 'editlink pull-right'%> 
</br>

<% if @game.played == false %> 
<h3>Selected Players</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
      </tr>
    </thead>

    <% @team.players.each do |player| %>
      <% if @convocations.where(:player_id => player.id).first.called %>
        <tr>
          <td><%= player.number %></td>
          <td><%= player.name %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% else %>

<table class="table table-hover">
    <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Position</th>
        <th>Yellow Cards</th>
        <th>Red Cards</th>
        <th>Goals Scored</th> 
        <th>Goals Suffered</th>
        <th>Assistances</th>
        <th>Injuries</th>
      </tr>
    </thead>

  <% @game.players.each do |player| %>
    <tr>
      <td><%= player.number %></td>
      <td><%=player.name %></td>
      <td><%= player.position %></td>
      <td><%= @game.events.where(:code => 6).where(:player_id => player.id).count %></td>
      <td><%= @game.events.where(:code => 5).where(:player_id => player.id).count %></td>
      <td class="scored"><%= @game.events.where(:code => 3).where(:player_id => player.id).count %></td>
      <td class="suffered"><%= @game.events.where(:code => 2).where(:player_id => player.id).count %></td>
      <td><%= @game.events.where(:code => 1).where(:player_id => player.id).count %></td>
      <td><%= @game.events.where(:code => 4).where(:player_id => player.id).count %></td>
    </tr>
  <% end %>
</table>


<!-- CHANGE THIS
>>>>>>> joelferreira-master
<h3>Titulares</h3>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Position</th>
        <th>Date-of-Birth</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Nationality</th>
      </tr>
    </thead>

  <%# p = @players.where( "playersgames.starter" => 'true') %>
  <%# p.each do |player| %>
    <tr>
      <td><%#= player.number %></td>
      <td><%#= player.name %></td>
      <td><%#= player.position %></td>
      <td><%#= player.date_of_birth %></td>
      <td><%#= player.height %></td>
      <td><%#= player.weight %></td>
      <td><%#= player.nationality %></td>
    <%# end %>
</table>

<h3>Suplentes Utilizados</h3>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Position</th>
        <th>Date-of-Birth</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Nationality</th>
      </tr>
    </thead>

  <%# p = @players.where( "playersgames.starter" => 'false') %>
  <%# p.each do |player| %>
  <%# if !player.starter? @game %>
    <tr>
      <td><%#= player.number %></td>
      <td><%#= player.name %></td>
      <td><%#= player.position %></td>
      <td><%#= player.date_of_birth %></td>
      <td><%#= player.height %></td>
      <td><%#= player.weight %></td>
      <td><%#= player.nationality %></td>
    <%# end %>
  <%# end %>
</table>
-->
<%end%>
<%= link_to 'Back', club_team_games_path(@team.club, @team) %>
</div>
