</div>
</div>
<%= javascript_tag "hideContainer()" %>
 <!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "slide-01.jpg" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Team management made simple.</h1>
          <p class="lead">Forget paper, pencil and old tactic boards. iCoach, helps you keeping in track with your team evolution and plan your next victory!</p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "slide-02.png" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>All the data in the cloud</h1>
          <p class="lead">There will be no more boring meetings to make every staff member up-to-date. With iCoach all the data is always available for everyone!</p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "slide-03.jpg" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Available for Android Tablets</h1>
          <p class="lead">Don't waste any second.Manage your team, right from  the field. iCoach is available through the Web and for android tablets too!</p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
  
  <div class="row login-box">
    <div class="span4">
      <h3>Login</h3>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
      <%= f.email_field :email, :placeholder => "email" %>
      <%= f.password_field :password, :placeholder => "password"  %>

      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      <% end -%>
      <%= f.submit "Login", :class =>"btn btn-success" %>
      <%= link_to "Forgot your password?", new_user_password_path %>

    </div>
    <% end %>
    <div class="span4">
      <h3>Join Us!</h3>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <%= f.email_field :email, :placeholder => "email" %>
        <%= f.password_field :password, :placeholder => "password"  %>
        <%= f.password_field :password_confirmation, :placeholder => "password confirmation"  %>
        <%= f.submit "Register", :class =>"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div><!-- /.carousel -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <%= image_tag "tactics.jpg", :class =>"img-circle"%>
          <h2>Team management made simple.</h2>
          <p>Forget paper, pencil and old tactic boards.</p> 
          <p>iCoach, helps you keeping in track with your team evolution and plan your next victory!</p>
        </div><!-- /.span4 -->
        <div class="span4">
          <%= image_tag "online_offline.jpg", :class =>"img-circle"%>
          <h2>Online and Offline, Synchronized.</h2>
          <p>There will be no more boring meetings to make every staff member up-to-date. With iCoach all the data is always available for everyone. You can access our app through the web in your desktop or tablet.</p>
          <p>And you can always check the data and use the android, even in the offline mode!</p>
          <p>Everything is synchronized!</p>
        </div><!-- /.span4 -->
        <div class="span4">
          <%= image_tag "Gplay.jpg", :class =>"img-circle"%>
          <h2>Available on Google Play!</h2>
          <p>Don't waste any second.</p> 
          <p>Manage your team, right from  the field.</p>
          <p>iCoach is available through the Web for desktop and tablets, and in a native app for android tablets too!</p>          
        </div><!-- /.span4 -->
      </div><!-- /.row -->

      <hr class="featurette-divider">

      <iframe width="640" height="480" src="http://www.youtube.com/embed/JgFUVclasgo?showinfo=0" frameborder="0" allowfullscreen style="margin: auto; display: block;"></iframe>

      <hr class="featurette-divider">