<div class="row-fluid">
  <div class="span2">
  	<div class="player-number img-circle"><h1><%= @player.number %></h1></div> 
  </div>
  <div class="player-details span2">
  	<h1 style="display:inline"><%= @player.name %></h1> <h4 style="display:inline"> - <%= @player.position %></h4>
  	<div class="player-details-inner">
		<p><%= @player.nationality %>, born on <%= @player.date_of_birth %></p>
		<p><%= @player.height %> kg - <%= @player.weight %> m</p>
	</div>
  </div>
</div>
<%= link_to 'Edit', edit_club_team_player_path(@team.club, @team, @player), :class =>'editlink' %>

<h3>Goals</h3>
<div class="eventsByMinute">
  <% @player.events.each do |event| %>
    <%if event.code == 6 || event.code == 5 || event.code == 3%>
      <% if event.code == 3 %>
          <p><%= event.minute %>' Goal -   <%= event.game.opponent %></p> 
      <%end%>
    <%end%>
  <%end%>
</div>

<h3>Assists</h3>
<div class="eventsByMinute">
  <% @player.events.each do |event| %>
    <%if event.code == 6 || event.code == 5 || event.code == 3%>
      <% if event.code == 1 %>
          <p><%= event.minute %>' Assistence -   <%= event.game.opponent %></p> 
      <%end%>
    <%end%>
  <%end%>
</div>

<h3>Discipline</h3>
<div class="eventsByMinute">
  <% @player.events.each do |event| %>
    <%if event.code == 6 || event.code == 5 || event.code == 3%>
      <% if event.code == 6 %>
          <p><%= event.minute %>' Yellow Card -   <%= event.game.opponent %></p> 
      <%end%>
      <% if event.code == 5 %>
          <p><%= event.minute %>' Red Card -   <%= event.game.opponent %></p> 
      <%end%>
    <%end%>
  <%end%>
</div>

<% if @active_injuries.count > 0 %>
	<h3> Injuries </h3>
	<table>
	  <tr>
	    <th>Injury date</th>
	    <th>Recovery date</th>
	    <th>Can play?</th>    
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @active_injuries.each do |injury| %>
	    <tr>
	      <td><%= injury.start_date %></td>
	      <td><%= injury.end_date %></td>
	      <td><%= injury.can_play %></td>
	      <td><%= link_to 'Heal', club_team_injury_healed_path(@team.club, @team, injury) %></td>
	      <td><%= link_to 'Show', club_team_injury_path(@team.club, @team, injury) %></td>
	      <td><%= link_to 'Edit', edit_club_team_injury_path(@team.club, @team, injury) %></td>
	      <td><%= link_to 'Destroy', club_team_injury_path(@team.club, @team, injury), confirm: 'Are you sure?', method: :delete %></td>
	    </tr>
	<% end %>
	</table>
<% end %>


<% if @old_injuries.count > 0 %>
	<h3> Old Injuries </h3>
	<table>
	  <tr>
	    <th>Injury date</th>
	    <th>Recovery date</th>
	    <th>Description</th>    
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @old_injuries.each do |injury| %>
	    <tr>
	      <td><%= injury.start_date %></td>
	      <td><%= injury.end_date %></td>
	      <td><%= injury.description %></td>
	      <td><%= link_to 'Show', club_team_injury_path(@team.club, @team, injury) %></td>
	    </tr>
	<% end %>
	</table>
<% end %>

<%= link_to 'Back', club_teams_path(@team.club) %>