<div class="row-fluid">
  <div class="span2">
  	<div class="player-number img-circle"><h1><%= @player.number %></h1></div> 
  </div>
  <div class="player-details span8">
  	<h1 style="display:inline"><%= @player.name %></h1> <h4 style="display:inline"> - <%= @player.position %></h4>
  	<div class="player-details-inner">
		<p><%= @player.nationality %>, born on <%= @player.date_of_birth %></p>
		<p><%= @player.height %> kg - <%= @player.weight %> m</p>
	</div>
  </div>
</div>
<br>
<br>

<% goals = @player.events.where(:code => 3).where(:player_id => @player.id).count %>
<%if goals > 0 %>
<h3 style="display:inline">Goals</h3><h4 style="display:inline"> - <%= goals%></h4>
<table class="table table-hover">
  	<thead>
	  <tr>
	    <th>Opponent</th>
	    <th>Date</th>
	    <th>Minute</th>
	  </tr>
	</thead>
  <% @player.events.each do |event| %>
      <% if event.code == 3 %>
      <tr>
      	<td><%= event.game.opponent %></td>
      	<td><%= event.game.date %></td>
      	<td><%= event.minute %></td>
      </tr>
      <%end%>
  <%end%>
</table>
<%end%>

<% assists = @player.events.where(:code => 1).where(:player_id => @player.id).count %>
<%if assists > 0 %>
<h3 style="display:inline">Assists</h3><h4 style="display:inline"> - <%=assists%></h4>
<table class="table table-hover">
  	<thead>
	  <tr>
	    <th>Opponent</th>
	    <th>Date</th>
	    <th>Minute</th>
	  </tr>
	</thead>
  <% @player.events.each do |event| %>
      <% if event.code == 1 %>
	      <tr>
	      	<td><%= event.game.opponent %></td>
	      	<td><%= event.game.date %></td>
	      	<td><%= event.minute %></td>
	      </tr>
      <%end%>
  <%end%>
</table>
<%end%>

<% yellows = @player.events.where(:code => 6).where(:player_id => @player.id).count %> 
<% reds = @player.events.where(:code => 5).where(:player_id => @player.id).count %>
<%if yellows > 0 || reds > 0 %>
<h3 style="display:inline">Discipline</h3><h4 style="display:inline"> - Yellow Cards: <%= yellows %> | Red Cards: <%= reds %></h4>
<table class="table table-hover">
  	<thead>
	  <tr>
	  	<th>Card</th>
	    <th>Opponent</th>
	    <th>Date</th>
	    <th>Minute</th>
	  </tr>
	</thead>
  <% @player.events.each do |event| %>
      <% if event.code == 6 %>
          <tr>
          	<td>Yellow</td>
	      	<td><%= event.game.opponent %></td>
	      	<td><%= event.game.date %></td>
	      	<td><%= event.minute %></td>
	      </tr>
      <%end%>
      <% if event.code == 5 %>
      	<tr>
          	<td>Red</td>
	      	<td><%= event.game.opponent %></td>
	      	<td><%= event.game.date %></td>
	      	<td><%= event.minute %></td>
	    </tr>
      <%end%>
  <%end%>
</table>
<%end%>

<% if @active_injuries.count > 0 %>
	<h3> Injuries </h3>
	<table class="table table-hover">
  	<thead>
	  <tr>
	    <th>Injury date</th>
	    <th>Recovery date</th>
	    <th>Can play?</th>    
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>
	<% @active_injuries.each do |injury| %>
	  <tr>
    	<td><%= injury.start_date %></td>
    	<td><%= injury.end_date %></td>
        <td><%= check_box_tag "can_play", true , injury.can_play, {:disabled => true} %></td>
        <td><%= link_to 'Show', club_team_injury_path(@team.club, @team, injury) %></td>
        <td><%= link_to 'Edit', edit_club_team_injury_path(@team.club, @team, injury), :class => 'editlink' %></td>
        <td><%= link_to 'Destroy', club_team_injury_path(@team.club, @team, injury), confirm: 'Are you sure?', method: :delete, :class => 'destroylink'  %></td>
        <td><%= link_to 'Heal', club_team_injury_healed_path(@team.club, @team, injury), :class =>'btn btn-warning' %></td>
      </tr>
	<% end %>
	</table>
<% end %>


<% if @old_injuries.count > 0 %>
	<h3> Old Injuries </h3>
	<table class="table table-hover">
  	<thead>
	  <tr>
	    <th>Injury date</th>
	    <th>Recovery date</th>
	    <th>Could Play?</th>    
	    <th></th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>
	<% @old_injuries.each do |injury| %>
	    <tr>
	      <td><%= injury.start_date %></td>
	      <td><%= injury.end_date %></td>
	      <td><%= check_box_tag "can_play", true , injury.can_play, {:disabled => true} %></td>
	      <td><%= link_to 'Show', club_team_injury_path(@team.club, @team, injury) %></td>
	      <th> </th>
	      <th> </th>
	      <th> </th>
	    </tr>
	<% end %>
	</table>
<% end %>

<br>
<%= link_to 'Edit', edit_club_team_player_path(@team.club, @team, @player), :class =>'editlink' %> | 
<%= link_to "Back", :back %>