<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "iCoach", root_path, :class => 'brand' %>      
      <div class="nav-collapse collapse">
        <% if user_signed_in? %>
          <%if current_user.clubs.length > 1 %>
          <ul class="nav pull-left">
            <li class="btn-group" style="margin:0;">
              <a class="btn btn-small btn-inverse dropdown-toggle" data-toggle="dropdown" href="#" style="background: none; border: none;">
                <%if @club %>
                <%= @club.name%>
                <% else %>
                Clubs
                <% end %>
                <span class="caret" style="border-top-color: #50835E;"></span>
              </a>
              <ul class="dropdown-menu">
                <% current_user.clubs.each do |club| %>
                  <li><%= link_to club.name, club %></li>
                <%end%>
                <%= link_to 'New Club', new_club_path, :class => "btn"%>
              </ul>

            </li>
          </ul>
          <% else %>
          <ul class="nav pull-left">
            <li><%= link_to 'New Club', new_club_path%></li>
          </ul>
          <% end %>

          <ul class="nav pull-left">
            <li class="btn-group" style="margin:0;">
              <a class="btn btn-small btn-inverse dropdown-toggle" data-toggle="dropdown" href="#" style="background: none; border: none;">
                Notes
                <span class="caret" style="border-top-color: #50835E;"></span>
              </a>
              <ul class="dropdown-menu">
                <% current_user.notes.each do |note| %>
                  <li><%= link_to note.updated_at.strftime('%H:%M %d/%m/%Y')+" - "+note.title, edit_note_path(note)%></li>
                <%end%>
                  <a id="new-note" class="btn">New Note</updated_at></a>
              </ul>
            </li>
          </ul>

          <% @note = current_user.notes.new %>
        <%end%>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
          <li>
            <%= link_to(current_user.email , edit_user_registration_path) %>
          </li>

          <% else %>
          <li>
            <%= link_to('Sign up', new_user_registration_path)  %>
          </li>
          <% end %>
          <% if user_signed_in? %>
          <li>
            <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>        
          </li>
          <% else %>
          <li>
            <%= link_to('Login', new_user_session_path)  %>  
          </li>
          <% end %>
        </ul>   
      </div>
    </div>
  </div>
</div>